@model IEnumerable<WebNHATHUOC1.Models.THUOC>

@{
    ViewBag.Title = "ForlgonThuoc";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h4>Thêm thuốc vào đơn</h4>

@using (Html.BeginForm("updateCTHD", "HoaDon", FormMethod.Post))
{
    <div class="row form-group">
        <div class="input-group mt-3 mb-3 d-inline-flex col-md-9">
            <span class="input-group-text">Mã hóa đơn</span>
            @{ 
                string tam = "";
                if(Session["Mahd"] != null)
                {
                    tam = Session["Mahd"] as string;
                }
            }
            <input type="text" name="sohd" value="@tam" class="form-control"/>
            @*@Html.Editor("sohd", new { @class = "form-control" })*@
            @{
                SelectList dsThuoc = new SelectList(Model, "mathuoc", "mathuoc");
            }
            <span class="input-group-text">Mã thuốc</span>
            @Html.DropDownList("mathuoc", dsThuoc, new { @class = "custom-control custom-select" })
            <span class="input-group-text">Số lượng</span>
            @Html.Editor("soluong", new { @class = "form-control" })
            @Html.ValidationMessage("soluong", "", new { @class = "text-danger" })
            <button class="btn btn-success col-md-1" type="submit">Thêm</button>
        </div>
    </div>
    <div row>
        @Html.ValidationMessage("sohd", "", new { @class = "text-danger" })
        @Html.ValidationMessage("mathuoc", "", new { @class = "text-danger" })
    </div>
    <div class="row" id="dividThuoc">

    </div>
    <p>
        @Html.ActionLink("Trở lại", "FormDonThuoc", "HoaDon")
    </p>
}

<script type="text/javascript">
    $().ready(function () {
        $('#mathuoc').on({
            click: function () {
                var id = $('#mathuoc').val();
                var url1 = '/HoaDon/chonThuoc/' + id;
                $.get(url1, function (data) { $('#dividThuoc').html(data); });
            },
            change: function () {
                var id = $('#mathuoc').val();
                var url1 = '/HoaDon/chonThuoc/' + id;
                $.get(url1, function (data) { $('#dividThuoc').html(data); });
            }
        });
    })
</script>